# =============================
# Nav2 Global
# =============================
nav2_container:
  ros__parameters:
    use_sim_time: true
    autostart: true

# =============================
# AMCL
# =============================
amcl:
  ros__parameters:
    use_sim_time: true
    global_frame_id: map
    odom_frame_id: odom
    base_frame_id: base_link
    scan_topic: scan

    min_particles: 800
    max_particles: 3000

    alpha1: 0.2
    alpha2: 0.2
    alpha3: 0.2
    alpha4: 0.2

    set_initial_pose: true

# =============================
# Map Server
# =============================
map_server:
  ros__parameters:
    use_sim_time: true
    yaml_filename: /home/mg0220/maze.yaml

# =============================
# Planner Server
# =============================
planner_server:
  ros__parameters:
    expected_planner_frequency: 5.0
    planner_plugins: ["GridBased"]

    GridBased:
      plugin: nav2_navfn_planner/NavfnPlanner
      tolerance: 0.5
      use_astar: true

# =============================
# Controller Server (DWB)
# =============================
controller_server:
  ros__parameters:
    use_sim_time: true
    controller_frequency: 10.0
    controller_plugins: ["FollowPath"]

    FollowPath:
      plugin: nav2_dwb_controller::DWBController

      min_vel_x: 0.05
      max_vel_x: 0.22
      min_vel_theta: 0.3
      max_vel_theta: 2.8

      acc_lim_x: 2.5
      acc_lim_theta: 3.2

      vx_samples: 20
      vtheta_samples: 40
      sim_time: 2.5

      critics:
        - ObstacleFootprintCritic
        - PathAlignCritic
        - GoalAlignCritic
        - GoalDistCritic
        - RotateToGoalCritic

      ObstacleFootprintCritic.scale: 0.02
      PathAlignCritic.scale: 20.0
      GoalAlignCritic.scale: 20.0
      GoalDistCritic.scale: 16.0
      RotateToGoalCritic.scale: 32.0

# =============================
# BT Navigator
# =============================
bt_navigator:
  ros__parameters:
    use_sim_time: true
    default_bt_xml_filename: navigate_w_replanning_and_recovery.xml

# =============================
# Recoveries
# =============================
recoveries_server:
  ros__parameters:
    recovery_plugins: ["spin", "backup", "wait"]

# =============================
# Global Costmap
# =============================
global_costmap:
  ros__parameters:
    use_sim_time: true
    global_frame: map
    robot_base_frame: base_link
    resolution: 0.05
    track_unknown_space: true
    plugins: ["static_layer", "obstacle_layer", "inflation_layer"]

# =============================
# Local Costmap
# =============================
local_costmap:
  ros__parameters:
    use_sim_time: true
    global_frame: odom
    robot_base_frame: base_link
    rolling_window: true
    width: 4.0
    height: 4.0
    resolution: 0.05
    plugins: ["obstacle_layer", "inflation_layer"]
